:root {
--hrBlueLt: #8abdfca;
--hrBlueDk: #1c5191;
--hrBlueStd: #739dd2;
--hrBlueLtSemiTrans: #8abdfc80;
--hrBlueDkSemiTrans: #1c519180;
--hrBlueStdSemiTrans: #739dd280;
--hrBlack: #191919;
--textLt: #d6ffff;
--textDk: #00002e;
--borderWidth: 1px;
--bracketSize: 10px;
--paddingVertical: 1px;
--paddingHorizontal: 1px;
}

.std {
    line-height: calc(100% + 2 * var(--paddingVertical) + 2 * var(--borderWidth));
}

span.li {
  margin:
    calc(2 * var(--paddingVertical) + 2 * var(--borderWidth))
    var(--paddingHorizontal)
    calc(2 * var(--paddingVertical) + 2 * var(--borderWidth))
    var(--paddingHorizontal);
}

div.tableContainer
{
  overflow-x: scroll;
}

div.table
{
  display: inline-block;
  overflow: scroll;
  margin-left: 0.25em;
  display: table;
  width: auto;
  border-spacing: 5px 10px;
  max-width: 80%;
}

div.row
{
  display: table-row;
}

div.headerRow
{
  line-height: 175%;
  display: table-header-group;
  font-weight: bold;
  background-repeat: no-repeat;
  background-image: linear-gradient(var(--hrBlueStd), var(--hrBlueLt));
  text-align: center;
  font-size: 125%;
  color: var(--textDk);
  text-shadow:
    -2px -2px 0 var(--textLt),
    2px -2px 0 var(--textLt),
    -2px 2px 0 var(--textLt),
    2px 2px 0 var(--textLt);
  border: calc(var(--borderWidth) * 2) solid var(--hrBlueDk);
  border-top-left-radius: 8px ;
  border-top-right-radius: 8px ;
}

div.headerCell
{
  min-width: 7em;
  display: table-cell;
  border-bottom: var(--borderWidth) groove var(--hrBlueDk);
  border-top-left-radius: 8px ;
  border-top-right-radius: 8px ;
}

div.cell
{
  display: table-cell;
}

span.action {
  font-weight: bold;
  font-style: italic;
  color: var(--textDk);
  font-size: 125%;
}

span.strong {
  font-weight: bold;
  color: var(--textDk);
  font-size: 112%;
  text-decoration: underline double;
}

span.dash {
  display: inline-block;
  width: 10px;
  height: 5px;
  background: var(--hrBlack);
  vertical-align: middle;
}
/*
.valueSubstitution {
  height: auto;
  position: relative;
  font-family: 'Lucida Console', Monaco, monospace;
  font-weight: bold;
  padding: 1px 1px 1px 1px;
  border: var(--borderWidth) solid var(--hrBlueDk);
  color: var(--textDk);
}

.valueSubstitution:after {
  content: "";
  border-top: var(--borderWidth) solid var(--hrBlueLt);
  border-bottom: var(--borderWidth) solid var(--hrBlueLt);
  display: block;
  position: absolute;
  left: var(--bracketSize);
  width: calc(100% - (var(--bracketSize) * 2));
  top: calc(-1 * var(--borderWidth));
  height: 102%;
}
*/
.arrow:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  margin: 0 3 0 3;
  content: url("data:image/svg+xml; utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"10\" height=\"22\"><g><path d=\"M 2,2 8,10 2,20 z\" style=\"fill:#000000\" /></g></svg>");
}

[class*="hl-"] {
  border-radius: 0px;
  padding:
    var(--paddingVertical)
    var(--paddingHorizontal)
    var(--paddingVertical)
    var(--paddingHorizontal);
  font-weight: bold;
  text-align: middle;
  width: auto;
}

span.hl-application {
  padding: 2px 15px 2px 15px;
  background-color: var(--hrBlueDk);
  color: var(--textLt);
}

span.hl-menuItem {
  padding: 2px 15px 2px 15px;
  background-color: #e6e6e6;
  color: var(--hrBlack);
}

.hl-field {
  text-align: center;
  background-color: var(--hrBlack);
  color: var(--textLt);
}

.hl-value {
  text-align: center;
  background-color: var(--hrBlueLt);
  color: var(--textDk);
}

span.hl-mobileDevice {
  background-color: #ffc4ff80;
  color: #910891;
}

span.hl-staff {
  background-color: #82875f80;
  color: #fdffdb;
}

span.hl-patient {
  background-color: #f2ce6a80;
  color: var(--textDk);
}

span.hl-location {
  background-color: #2b22ad80;
  color: var(--textLt);
}

span.hl-role {
  background-color: #a3ffee80;
  color: var(--textDk);
}

span.hl-call {
  background-color: #cece35;
  color: #ffffed;
}

span.hl-A {
  background-color: #efd8ff80;
  color: #430b6b;
}

span.hl-B {
  background-color: #ededed80;
  color: #2f2f2f;
}

span.hl-C {
  background-color: #2b634e80;
  color: #e2fff4;
}

span.hl-D {
  background-color: #c92e5f80;
  color: #fff9fb;
}

span.hl-E {
  background-color: #2f2f2f80;
  color: #ededed;
}

span.hl-F {
  background-color: #45008480;
  color: #f4efe1;
}

span.hl-G {
  background-color: #bfbbb280;
  color: #00002e;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:after {
  position: absolute;
  height: 3px;
  margin: 0 auto;
  content: '';
  left: 0;
  right: 0;
  width: 100%;
  background: repeating-linear-gradient(
    90deg,
    #00000000,
    #00000000 3px,
    var(--hrBlueStd) 3px,
    var(--hrBlueStd) 5px
  );
  left: 0;
  bottom: -5px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--hrBlueDk);
  color: var(--textLt);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 105%; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}